/* 

$font--
$color--
$height--
$margin--
$border--

*/

/*
*
* FONTS
*
*/

$font--family-roboto-mono: "Roboto Mono", monospace;
$font--family-montserrat: "Montserrat", sans-serif;

$font--weight-thin: 100;
$font--weight-extra-light: 200;
$font--weight-light: 300;
$font--weight-regular: 400;
$font--weight-semi-bold: 600;
$font--weight-bold: 700;

$font--size-h1: 70px;
$font--size-h2: 60px;
$font--size-h3: 50px;
$font--size-h4: 40px;
$font--size-h5: 30px;
$font--size-h6: 20px;
$font--size-20: 20px;
$font--size-default: 16px;

/*
*
* COLORS
*
*/

$color--background: #212428;
$color--background-active: #1f2125;
$color--white-opacity: rgba(255, 255, 255, 0.7);
$color--green: #009e66;
$color--green-light: #00d187;
$color--white: #fff;
$color--black: #000;
$color--lighten: #c4cfde;

/*
*
* MARGINS
*
*/

/*
*
* PADDINGS
*
*/

/*
*
* BORDERS
*
*/
