.fixed-mail__box {
  position: fixed;
  top: 70%;
  right: -40px;
  display: flex;
  flex-direction: column;

  @include breakpoint("touch") {
    display: none;
  }
}

.fixed-mail {
  color: $color--white;
  transform: rotate(90deg) translate(50%, 0%);
  position: relative;
  transition: all 0.2s ease-in;
  &:hover {
    color: $color--green;
    transform: rotate(90deg) translate(50%, 0%) scale(1.1);
  }
}

.fixed-mail__bar {
  position: absolute;
  top: 220px;
  left: 50%;
  height: 6.25rem;
  width: 2px;
  background-color: $color--white;
  content: "";
}
